.app-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 90vh;
  background-color: #f3f4f6;
  overflow: hidden; 
}

.scroll-container {
  display: flex;
  gap: 15px; 
  overflow-x: auto; 
  padding: 20px 0px; 
  max-width: 100%; 
  width: 100%; 
  scroll-snap-type: x mandatory; 
  box-sizing: border-box; 
   
}


.scroll-container > div {
  flex-shrink: 0;
  scroll-snap-align: start;
  height: 70px;

}


.scroll-container::-webkit-scrollbar {
  display: none; 
}

.scroll-container {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
